.App {
  text-align: center;
}


#tabla-principal {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
}

#renglon-tabla {
  display: flex;
  justify-content: space-between;
}
h2 {
  color: white;
  max-width: 600px;
  font-size: 25px;
}

#celda-carousel {
  max-width: 600px;
}


